/* Write your CSS here */
.horzontal-line {
  margin-top: 5px;
  margin-bottom: 10px;
}
ul {
  list-style-type: none;
}
.addButton {
  background-color: #0284c7;
  outline: none;
  border: none;
  color: white;
  padding: 10px 17px;
  margin-top: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.bg-container {
  padding: 50px 65px;
}
.title {
  font-size: 35px;
  font-weight: bold;
}

.user-container {
  display: flex;
  justify-content: space-between;
}

.input-user {
  width: 100%;
  max-width: 350px;
  background-color: transparent;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 30px;
  font-size: 15px;
  padding: 0px 7px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid #7e858e;
  offset: #7e858e;
  outline: none;
}

.description {
  width: 100%;
  max-width: 350px;

  font-size: 18px;
  padding: 7px 7px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid #7e858e;
  offset: #7e858e;
  outline: none;
}
